@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section main
{
 <div class="row">
    <div class="col-md-2">
    </div>
    
    <div class="col-md-7 omotac">
    <h3> @ViewBag.Poruka</h3>
    </div>

    <div class="col-md-1">
    </div>

 </div>
}